#item {
	list-style-type: none;
	display: flex;
	gap: 50px;
	justify-content: flex-end;
	margin-top: 10px;
}

#h2 {
	margin-top: 10px;
	margin-right: 20px;
	font-family: cursive;
	font-weight: bolder;
}

.nav-item a {
	text-decoration: none;
	color: rgb(29, 154, 52);
	font-weight: bold;
}

.img {
	width: 900px;
	height: 650px;
	border-radius: 100px;
	margin-right: 30px;
}

#hero {
	display: flex;
}

#h1 {
	margin-top: 130px;
	font-size: 60px;
	font-weight: bolder;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
}

#para {
	font-size: 25px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
}

#para1 {
	color: green;
}

#h3 {
	text-align: center;
	margin-top: 50px;
}

#hero2 {
	display: flex;
}

.button{
	justify-content: center;
	margin-left: 300px;
}

.card {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 12px;
	padding: 20px;
	width: 400px;
	text-align: center;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
	transition: transform 0.2s ease;
	margin: 0px 30px;
}

#garden {
	display: flex;
	margin-top: 50px;
}
#garden img{
	border-radius: 12px;
}

.dropdown-menu{
	background-color:rgb(240, 255, 248);
}