.about img {
    width: 100%;
    height: 60vh;
    object-position: top;
}

.about-text {
    margin: 0px 10px;
}

.about-text h1 {
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 20px;
}

.about-text h3 {
    margin-top: 20px;
}

.about-text p {
    word-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}

.about-text ul {
    list-style-type: circle;
}