.form {
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    display: flex;
    margin: 30px 70px;
    max-width: 700px;
}

.form label {
    font-weight: bold;
}

.form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 15px;
}

#radio label {
    font-weight: normal;
}

.form button {
    padding: 12px;
    margin-top: 10px;
    border: none;
    justify-content: center;
}

#h4 {
    text-align: center;
    font-weight: bolder;
}

.form-img {
    display: flex;
}

.form-img img {
    border-radius: 12%;
    max-width: 600px;
    height: 800px;
    margin-top: 120px;
}